* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: white;
    font-size: 13px;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.l-box {
    padding: 1em;
}

.is-center {
    text-align: center;
}

.is-right {
    text-align: right;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-button {
    background-color: orange;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: orange;
    border-radius: 5px;
    font-size: 120%;
}


.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
     background: #2d3e50; 
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 150%;
    padding-left: 0;
    padding-top: 7px;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: orange;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: white;
}


.splash-container {
   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
   
    height: calc(100vh - 94px);
}


.splash {
    text-align: center;
    margin: auto;
    /* text-transform: uppercase; */
   

}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 2em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.footer {
    background: #111;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


@media (min-width: 48em) {

    
    body {
        font-size: 16px;
    }

   
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }



}


@media (min-width: 78em) {
  
    .splash-head {
        font-size: 300%;
    }
}